html, body {
	height: 100%;
	width: 100%
}

#mainCntnr
{
	height: 100%;
	width: 100%
}

.rowCntnr
{
	height: -webkit-calc(100% / 12);
	width: 60%;
}

.smallGraphCntnr
{
	height: -webkit-calc(100% / 12);
	width: -webkit-calc(100% / 12);
	margin-left: .5%;
	/*position: relative;*/
}

.smallGraph{
	/*width: -webkit-calc(100% / 12);*/
	/*position: absolute;*/
}

.smallGraphTxt
{
	/*width: -webkit-calc(100% / 12);*/
	/*position: relative;*/
	position: absolute;
	bottom: 0px;
	width: 60%;
	font: 8px helvetica,sans-serif;
	color: #E3E3E3;
	text-wrap: normal;
	padding-bottom: .25%;
	padding-bottom: 10%;
}

.col1
{
	position: absolute;
	left: 0%;
}

.col2
{
	position: absolute;
	left: -webkit-calc(60% / 12);
}

.col3
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 2);
}

.col4
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 3);
}

.col5
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 4);
}

.col6
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 5);
}

.col7
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 6);
}

.col8
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 7);
}

.col9
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 8);
}

.col10
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 9);
}

.col11
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 10);
}

.col12
{
	position: absolute;
	left: -webkit-calc((60% / 12) * 11);
}

.line 
{
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}